.spinner {
  margin-top: 3rem;
}

.loader {
  width: 6px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  background: var(--color-accent);
  box-sizing: border-box;
  animation: spinner-animation 0.3s 0.3s linear infinite alternate;
}

.loader::after,
.loader::before {
  content: '';
  width: 6px;
  height: 40px;
  border-radius: 4px;
  background: var(--color-accent);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: spinner-animation 0.3s 0.45s linear infinite alternate;
}

.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes spinner-animation {
  0% {
    height: 48px;
  }

  100% {
    height: 4px;
  }
}
